In [ ]:
import mysql.connector
import datetime

# MySQL에 연결
conn = mysql.connector.connect(
    host="localhost",       # 또는 '127.0.0.1'
    user="lee2",   # 예: 'root'
    password="Lee12345!",
    database="lee"  # 연결할 DB 이름
)

# 커서 생성
cursor = conn.cursor()

In [ ]:
#######################################################
#   insert  select  
########################################################

today = datetime.date.today()
cursor.execute("INSERT INTO test (name, title, date) VALUES (%s, %s, %s)", ('newname', 'newname입니다', today))

# 예제 쿼리 실행
cursor.execute("SELECT * FROM test")

# 결과 가져오기
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'hoho', 'test 입니다 01', None)
(2, 'haha', 'test 입니다 02', None)
(3, 'huhu', 'test 입니다 03', datetime.date(2025, 4, 23))
(4, 'hehe', 'test 입니다 04', datetime.date(2025, 4, 23))
(6, 'newname', 'newname입니다', datetime.date(2025, 4, 24))

In [ ]:
#######################################################
#   update  select  
########################################################

# 커서 생성
cursor = conn.cursor()

today = datetime.date.today()
cursor.execute("UPDATE test SET title = 'update 테스트입니다' WHERE id = 4 ")

# 예제 쿼리 실행
cursor.execute("SELECT * FROM test")

# 결과 가져오기
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'hoho', 'test 입니다 01', None)
(2, 'haha', 'test 입니다 02', None)
(3, 'huhu', 'test 입니다 03', datetime.date(2025, 4, 23))
(4, 'hehe', 'update 테스트입니다', datetime.date(2025, 4, 23))

In [ ]:
# 연결 종료
cursor.close()
conn.close()